openapi: 3.0.1
info:
  title: Crowdstrike APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/crowdstrike/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/crowdstrike/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/crowdstrike/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /sensor-update:
    get:
      summary: Sensor Policy
      description: Sensor Policy
      tags: 
        - Sensor Policy
      parameters:
      - name: ids
        in: query
        description: Ids
        required: true
        schema:
          type: string
          example: 123a123a123a123a123a123a123a1234
      responses:
        '200':
          description: OK
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 500
                  message:
                    type: string
                    example: Authentication failed with Crowdstrike
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header